name: CI
on:
  push:
    branches: [ '**' ]
    tags-ignore: [ '**' ]
  pull_request:
jobs:
  build:
    strategy:
      matrix:
        ruby: [ 'jruby-9.2', '2.3', '3.0' ]
        python: [ '3.5', '3.9' ]
        platform: [ ubuntu-latest, macos-latest, windows-latest ]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Run Tests
        run: bundle exec rake test
